<template name="scene">
<body>
<!-- 	<audio id="source" 
		   src="http://localhost:3000/04_Rhodes.wav" 
		   controls 
		   autoplay 
		   loop>		   
	</audio> -->
	<a-scene 
	  camera 
	  physics 
	  proxy-controls="enabled: true;
					  debug: true;
					  pairCode: 'poetic';
					  enableOverlay: true;">
		<a-assets>			  	 
			<a-mixin 
				id="laser"
				static-body
            	geometry="primitive: box; 
            			  depth: 1; 
            			  height: 1; 
            			  width: 5;"
				material="color: green; 
						  metalness: 0.2; 
						  opacity: 0.4; 
						  roughness: 0.3"
			    rotation="0 0 0"
				xprojectile="speed: -0.5"
				xcollider="target: .stick">
			</a-mixin>
			<a-mixin 
        id="playerPlaceholder"
			  class="otherPlayer"
			  static-body
			  peer
			  color="#000" 
			  width="1" 
			  height="4" 
			  depth="1"
              position="10 1 -10" 
              rotation="0 0 0" 
              scale="1 1 1">
			</a-mixin>
		</a-assets>   

        <a-box 
	   	  id="player2"
   		  static-body 
   		  peer
   		  color="#000" 
   		  width="1" 
   		  height="4" 
   		  depth="1"
          position="-15 1 10" 
          rotation="0 0 0" 
          scale="1 1 1">
        </a-box>

<!--
        <a-box 
	   	  id="player3"
   		  static-body 
   		  peer
   		  color="#444" 
   		  width="1" 
   		  height="4" 
   		  depth="1"
          position="-20 1 10" 
          rotation="0 0 0" 
          scale="1 1 1">
        </a-box>
-->
<!--     
        <a-box 
	   	  id="player4"
   		  static-body 
   		  peer
   		  color="#AAA" 
   		  width="1" 
   		  height="4" 
   		  depth="1"
          position="-25 1 10" 
          rotation="0 0 0" 
          scale="1 1 1">
        </a-box>        
-->
   		<a-box 
   		  id="iceberg"
	   	  class="stick"
   		  static-body 
   		  color="#CBF" 
   		  width="4" 
   		  height="10" 
   		  depth="2"
          position="10 1 10" 
          rotation="45 45 45" 
          scale="2 0.5 3">          
           <a-animation attribute="opacity" begin="collider-hit" dur="400" ease="linear"
                        from="1" to="0.5"></a-animation>
           <a-animation attribute="scale" begin="collider-hit" dur="400" ease="linear"
                        to="5 5 5"></a-animation>
        </a-box>     
        <a-box 
   		  id="y" 
   		  color="#704" 
   		  width="1" 
   		  height=".0001" 
   		  depth="100"
          position="0 .0001 0" 
          rotation="0 0 0" 
          scale="1 1 1">
        </a-box>
        <a-box 
   		  id="x" 
   		  color="#2CA" 
   		  width="100" 
   		  height=".0001" 
   		  depth="1"
          position="0 .0001 0" 
          rotation="0 0 0" 
          scale="1 1 1">
        </a-box>
  		<!-- ground -->
  		<a-entity 
  			static-body
  			geometry="primitive: box; 
  					  height:100; 
  					  width:100;
	  				  depth: 1" 
	  		rotation="90 0 0"
		  	position="0 -1 0"
  			material="side: double; 
  					  color: blue; 
  					  repeat: 100000000 1000000;">
  		</a-entity>
  		<a-entity
  			id="mainCamera" 
  			camera 
  			user
	  		xspawner="mixin: laser; on: click" 
		  	click-listener
	  		cursor
  			universal-controls
  			keyboard-controls
  			gamepad-controls 
  			kinematic-body 
  			jump-ability="enableDoubleJump: false; 
  						  distance: 4;" 
		    position="0 1 0">    
			<a-entity 
				id="ray"
				xpositionalAudio
				xcursor="fuse: true; maxDistance: 10000; timeout: 500"
            	position="0 0 -10"
				xgeometry="primitive: sphere;
					      radius: 5"
				xmaterial="color: red; opacity:0.3">
<!--			cursorBomb travel -->
		  		<a-animation attribute="position"
				  	easing="ease"
			   		fill="none"
		  			from="0 0 -10"
		  			to = "0 0 -50">
		  		</a-animation>
<!--			cursorBombgrow 
				<a-animation attribute="scale"
					from="0 0 -10"
					to = "0 0 -50"
					growBombListener>
				</a-animation>
			cursorBombTarget 
				<a-animation attribute="color"
					from="0 0 -10"
					to = "0 0 -50"
					growBombListener>
				</a-animation> -->
			</a-entity>
  		</a-entity>
	</a-scene>
</body>
</template>

